# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    my.cnf                                             :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: hveiled <hveiled@student.42.fr>            +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2020/12/20 14:36:55 by hveiled           #+#    #+#              #
#    Updated: 2021/03/03 16:11:23 by hveiled          ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

[mysqld]
user = root
bind-address = 0.0.0.0
port = 3306
skip-networking = false